<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>Editar Libro</title>
</head>
<body>
<div class="container col-6 aling-center mt-5">
    <h1 class="display-4 text-center" > Editar Movimiento Dinero</h1>

    <form th:action="@{/MovimientoDinero2/{id}(id=${movimiento2.id})}" th:object="${movimiento2}" method="post">
        <label class="form-label">ID:</label>
        <input type="number" class="form-control" id="id" th:field="*{id}" required disabled>
        <br>
        <label class="form-label">Monto:</label>
        <input type="number" class="form-control" id="monto"  placeholder="Ingresar Monto" th:field="*{monto}" required>
        <br>
        <label class="form-label">Concepto:</label>
        <input type="text" class="form-control" id="concepto"  placeholder="Ingresar concepto" th:field="*{concepto}" required>
        <br>
        <label class="form-label">Tipo de Transaccion:</label>
        <select class="form-select" id="tipo" th:field="*{tipo}" aria-label="Default select example" required>
            <option value="1">Ingreso</option>
            <option value="0">Gastos</option>
        </select>

        <div class="container mt-5">
            <button type="submit" class="btn btn-primary"> Guardar Actualizacion</button>
        </div>
    </form>
</div>

</body>
</html>