<!DOCTYPE html>
<html lang="es" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TecnoMaster</title>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">  
   
  </head>
  <body>

 
  <div class="container">
     <div class="row">
     <div class="col-lg-12 d-flex justify-content-center">
       <h1 class="titulos"><img src="img/l6.png" class="logo"><span class="letra1">Tecno</span><span class="letra2">Master</span></h1>
       </div>
       </div>
       <div class="row  d-flex justify-content-center">
         <div class="col-lg-5 fondo1">
           <form action="" class="form" id="formulario1">
           <div class="form-group has-feedback">
             <div>
            <i class="fas fa-user-circle usuario2"></i>
          </div>
               <label for="">Inicio Sesion</label>
           </div>
               <div sec:authorize="!isAuthenticated()">
                   <a th:href="@{/oauth2/authorization/auth0}">
                       <a type="button" class="btn bot1 mb-5 mt-4" href="#">Acceder</a>
                   </a>
               </div>
               <div sec:authorize="isAuthenticated()">
                   <p>You are logged in!</p>
               </div>
           </form>
         </div>
       </div>
     </div>





















   
  
  
  </body>
</html>